* {
  margin: 0px;
  padding: 0px;
}
.sec-1 {
  max-height: auto;
  max-width: auto;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 16px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}
.sec-1 > div {
  margin: 25px;
  margin-inline: 90px;
}
.header1 > i {
  color: rgb(33, 37, 41);
  cursor: pointer;
  display: inline-block;
  font-size: 24.8px;
  font-style: normal;
  font-weight: 400;
  margin-inline: 10px;
}
.first-logo {
  box-sizing: border-box;
  color: rgb(33, 37, 41);
  cursor: pointer;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans" sans-serif;
  font-size: 24px;
  line-height: 28.8px;
  margin-bottom: 8px;
  margin-top: 0px;
}
.second-logo {
  box-sizing: border-box;
  color: rgb(66, 50, 194);
  cursor: pointer;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans" sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
  margin-bottom: 8px;
  margin-top: 0px;
  text-decoration-thickness: auto;
  text-size-adjust: 100px;
  white-space: nowrap;
}
.header2 > p {
  display: inline-block;
  font-size: 17px;
  margin-inline: 17px;
  color: rgb(124, 112, 112);
}
.header3 > i {
  color: rgb(66, 50, 194);
  cursor: pointer;
  display: inline-block;
  font-size: 24.8px;
  font-style: normal;
  font-weight: 400;
  margin-inline: 10px;
}
.sec-2 {
  background-image: url(banner-bg-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 570px;
}
.fa-less-than {
  display: inline-block;
  color: rgb(98, 102, 234);
  cursor: pointer;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  margin: 0px 0px 0px 80px;
}
.banner-word {
  display: inline-block;
  color: rgb(107, 111, 230);
  font-family: "Open Sans", sans-serif;
  font-size: 64px;
  font-weight: 100;
  max-width: 700px;
  margin: 150px 200px 0px 120px;
}
.fa-greater-than {
  display: inline-block;
  color: rgb(98, 102, 234);
  cursor: pointer;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  margin: 0px 80px 0px 0px;
}
.blue-dash1 {
  background-color: rgb(98, 102, 234);
  max-width: 150px;
  height: 4px;
  margin: 50px 0px 0px 245px;
  
}
.chat-us {
  display: inline-block;
  color: rgb(66, 50, 194);
  cursor: pointer;
  font-size: 24px;
  font-weight: lighter;
  border-style: solid;
  padding: 5px 18px 5px 18px;
  text-align: center;
  border-radius: 18px;
  border-color: rgb(66, 50, 194);
  border-width: 1px;
  border-color: rgb(66, 50, 194);
  margin: 50px 0px 0px 235px;
}
.welcome-text {
  text-align: center;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  font-weight: 550;
  color: rgb(33, 37, 41);
  margin-top: 60px;
}
.welcome-topic > i {
  display: inline-block;
  font-size: 24px; 
  margin: 0px 0px 0px 0px;
}
.topic {
  display: inline-block;
  color: rgb(33, 37, 41);
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  font-weight: 500;
  margin: 60px 0px 0px 310px;
}
.blue-dash {
  background-color: rgb(89, 75, 196);
  width: 150px;
  display: block;
  margin-left: 336.25px;
  margin-top: 15px;
  height: 4px;
}
.topic-details {
  color: rgb(108, 117, 125);
  font-family: system-ui, apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  max-width: 720px;
  padding: 0px 8px 16px 8px;
  text-align: left;
  width: 720px;
  margin: 15px 50px 0px 331.25px;
}
.sec-4-first-blue {
  background-color: rgb(98, 102, 234);
  height: 200px;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  padding: 0px 100px 0px 100px;
  align-items: center;
}
.sec-4-first-blue > i {
  color: white;
  font-size: 75px;
}
.can-you {
  color: rgb(246, 249, 254);
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 300;
  width: fit-content;
}
.chat {
  background-color: rgb(66, 50, 194);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 16px 0px;
  color: rgb(246, 249, 254);
  cursor: pointer;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans";
  font-size: 16px;
  font-weight: 400;
  padding: 14px 25px 14px 25px;
  text-align: center;
  border-radius: 30px;
  max-width: fit-content;
}
.current-exchange-h{
  text-align: center;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  font-weight: 550;
  color: rgb(33, 37, 41);
  margin: 60px 0px 60px 0px;
}
.current-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-evenly;
}
.rate-images {
  width: auto;
  height: 340px;
  box-shadow: rgb(33, 37, 41);
  margin-left: 75px;
  margin-bottom: 25px;
  border-style: solid;
  border-color: aliceblue;
  border-width: 1px;
  box-shadow: 50px 50px 50px 50px rgb(230, 229, 236);
}

.sec-6-second-blue {
  background-color: rgb(98, 102, 234);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 90px;
  height: 250px;
  max-width: 100%;
}
.sec-6-second-blue > div {
  margin-left: 50px;
}
.social-word {
  display: inline;
  color: rgb(246, 249, 254);
  cursor: pointer;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans";
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
}
.only {
  color: rgb(246, 249, 254);
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans";
  font-size: 16px;
  font-weight: 400;
  margin: 24px 0px 24px 0px;
  padding-left: 10px;
}
.social-media > div > i {
  color: rgb(246, 249, 254);
  cursor: pointer;
  display: inline-block;
  font-size: 24.8px;
  font-style: normal;
  font-weight: 400;
  margin-inline: 10px;
}
.whatsapp {
  display: inline;
  color: rgb(246, 249, 254);
  cursor: pointer;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans";
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
}
.Whatsapp-us {
  padding-top: 40px;
}
.social-media {
  padding-top: 40px;
}
.whatsapp-number {
  color: rgb(246, 249, 254);
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans";
  font-size: 17px;
  font-weight: 600;
  margin-top: 24px;
  padding-left: 10px;
}
.email {
  color: rgb(246, 249, 254);
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans";
  font-size: 16px;
  font-weight: 400;
  margin-top: 24px;
  padding-left: 10px;
}
.sec-7-last-blue {
  background-color: rgb(66, 50, 194);
  height: 80px;
  max-width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 30px 0px 0px 100px;
  
}
.copyright {
  color: rgb(246, 249, 254);
  display: inline;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 0px 0px 0px 0px;
}
.author {
  color: rgb(246, 249, 254);
  display: inline;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 0px 0px 0px 0px;
  text-align: right;
}
.author-name {
  color: rgb(228, 230, 233);
  cursor: pointer;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
}

@media screen and (max-device-width: 600px) {
  
}
